
html{
  font-size: 16px;
}

body{
  font-family: $font-roboto;
}

h2{
  font-family: $font-roboto;
  font-size: 120px;
  font-weight: 700;
  color: $red;
}

h3{
  font-family: $font-roboto;
}
h4{
  font-family: $font-roboto;
}
